.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
 .left-side{
    height: 100%;
    width: 30%;
    float: left;
    padding:0px;
    
 }
 .left-card{
    background: #ECECEC;
 }
.right-side{
    height: 100%;
    width: 70%;
    float: right;
    padding:0px
    
}
.released{
 background-color: palevioletred;
}
.review{
 background-color: lightgreen;
}
.pending{
 background-color: aquamarine;
}
.work-in-progress{
 background-color: yellow;
}
.coming-soon{
background-color: lightblue;
 }

